

// 麵包屑
.crumbs-item{
    & + li::before{
        content:"/";
    
    }
    &:last-child a{
        color: $primary;

    }
    a{
        padding:0 4px;
    }
    &:first-child a{
        padding-left: 0;

    }

}
@include pad {
    .crumbs-item a{
        font-size: $fz-s;
    }
        
}
// 標籤
.tagbar li{
    color: $primary;
    font-weight: $fw-b;
    margin-right: 16px;
}

// 文章
.blog-content{
    padding-bottom: 160px;
}
.row-article{
    width: 74%;
}
.row-tag{
    width: 23%;
}
.h1article{
    font-size: $fz-12;
    font-weight: $fw-r;
}
.h2article{
    font-size: 28px;
}
@include pad{
    .h1article{
        font-size: $fz-8;
    }
    .h2article{
        font-size:$fz-4;
    }
}

.article-content{
    li{
        margin-bottom: 40px;
        p{
            color:$article-color;
            opacity: 0.6;
        }
    }
}
.article-img{
    width: 100%;
    margin-bottom: $mb-6;
}
.sharebox{
    border-bottom: 1px solid $border-color2; 
    padding-bottom: 20px;
    margin-bottom: $mb-6;
    .h3share{
        font-size: $fz-5;
        margin-right: 20px;
    }
}
.share-link{
    li{
        margin-right: 16px;
    }
    img{
        width: 24px;
        height: 24px;
    }
}
.blog-page{
    a:hover{
        color: $primary;
    }
    .next-page{
        flex-direction: row-reverse;
    }
    img{
        width: 16px;
        height: 16px;
        margin-right: 12px;
    }
    .blog-pre{
        transform:rotate(-180deg);
    }
    .blog-next{
        margin-left: 12px;
        margin-right: 0;
    }
    @include mobile{
        flex-wrap: wrap;
    }
}
// 標籤欄
.tagbox {
    color: $primary;
    font-weight: $fw-b;
    span{
        font-size: 28px;
    }

}
.tag-list li{
    font-size: $fz-6;
    margin-right: 24px;
}
@include pad{
    .tagbox {
        img{
            width: 24px;
        }
        span{
            font-size: $fz-5;
        }
        .tag-list li{
            font-size: $fz-4;
            margin-right: 16px;
        }
    }
    .blog-footer{
        width: 100%;
    }
}
@include mobile{
    .blog-content{
        flex-direction: column;
        padding-bottom: 56px;
    }
    .row-article,.row-tag{
        width: 100%;
    }
    .blog-page{
        img{
            margin-right: 4px;
        }
    }
    .blog-footer{
        width: 100%;
        margin-bottom: 30px;
        .next-page{
            flex-direction: row;
        }
        .blog-next{
            margin-left: 0;
            margin-right: 4px;
        }
    }
}