.blog{
    padding-top: 40px;
    .blog-title{
        @include page-title;
    }
    @include pad{
        padding-top: 60px;
    }
    @include mobile{
        padding-top:28px;
    }
    
}

.blog-card{
    width: 100%;
}
.card-item{
    margin-bottom: 60px;   
    width: 100%;
}
.card-link{
    display: inline-block;
}
.blog-img{
    width: 100%;
    margin-right: 30px;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h3blog{
    font-size: $fz-8;
    color: $blog-color;
    font-weight: $fw-r;
}
.card-title{
    margin-bottom: 24px;
    align-items: center;
    .h4blog{
        font-size: $fz-5;
    }
    .blog-date{
        font-size: $fz-4;
    }
}

.article{
    color: $border-color;
    font-size: $fz-5;
} 
.morebox {
    justify-content: flex-end;
    a{
        color: $blog-color;
        font-size: $fz-9;
        font-weight: $fw-9;
        &:hover{
            color:$primary;
        }
    }
}

@include pad{
    .blog-img,.card-content{
        width: calc(100% / 2 - 15px);
    }
    .h3blog{
        font-size: $fz-5;
    }
    .card-title{
        margin-bottom: $fz-8;
        .h4blog{
            font-size: $fz-4;
        }
        .blog-date{
            font-size: $fz-s;
        }
    } 
    .article{
        color: $border-color;
        font-size: $fz-s;
    }
    .morebox {
        justify-content: flex-end;
        a{
            font-size: $fz-s;
            &:hover{
                color:$primary;
            }
        }
    }

}

@include mobile{
    .card-item{
        flex-direction: column;
        margin-bottom: 0;
    }
    .blog-img,.card-content{
        width: 100%;
    }
    .h3blog{
        font-size: $fz-4;
    }
    .card-title{
        margin-bottom: $fz-5;
        .h4blog{
            font-size: $fz-s;
        }
        .blog-date{
            font-size: $fz-s;
        }
    } 
    .article,.morebox{
        display: none;
    }

}

