.location{
    padding-top: 96px;
    padding-bottom: 160px;
    .loca-title{
        @include page-title;
    }
    @include pad{
        padding-top: 60px;
        padding-bottom: 96px;
    }
    @include mobile{
        padding-top:28px;
        padding-bottom: 56px;
    }
    
}

.selectbox{
    margin-bottom: $mb-9;
    @include pad{
        margin-bottom: $mb-6;
    }
    @include mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.select{
    font-size: $fz-6;
    margin-right: 20px;
}
.selectbar{
    width: 324px;
    height: 45px;
    outline: 0;
    border: 1px solid $frame-color;
    color: $text-color;
    font-size: 18px;
    padding-left: 19px;
}
@include mobile{
    .select{
        font-size: $fz-s;
        margin-right: 12px;
    }
    .selectbar{
        width: 80%;
        height: 36px;
        font-size: $fz-s;
        padding-left: 16px;
    }

}
.store{
    @include pad{
        justify-content: space-between;
    }
}
.store-item{
    width: calc(100% / 3 - 30px);
    border: 1px solid $line-color2;
    margin-bottom: 32px;
    margin-right: 30px;
    .h3loca{
        font-size: $fz-6;
        font-weight: $fw-r;
        padding: 12px 0;
        padding-left: 24px;
        border-bottom: 2px solid $line-color2;
    }
    .imgstore-5{
        width: 350px;
        height: 224px;
        object-fit: cover;
    }
    .store-info{
        padding: 16px 0;
        padding-left: 24px;
        .info-icon{
            width:24px;
            height: 24px;
            margin-right: 8px;
        }
        .icon-map{
            margin-top: 5px;
        }
        
        li{
            margin-bottom: 8px;
        }
        a,p{
            font-size: $fz-5;
            color: $text-color2;
        } 
        @include pad{
            a,p{
                font-size: $fz-s;
            } 
            .icon-map{
                margin-top: 0;
            }
        }  
        @include mobile{
            .info-icon{
                width: 16px;
                height: 16px;
            }
        
        }
    }
    @include pad{
        width: calc(100% / 2 - 30px );
        margin-right: 0;
        .h3loca{
            font-size: $fz-4;
            padding-top: 8px ;
        }
        .site{
            align-items: center;
        }
    }
    @include mobile{
        width: 100%;
        margin-right: 0;
        .h3loca{
            font-size: $fz-4;
            padding-top: 8px ;
        }
    }
    
    
}


.detail{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    display: block;
    &:hover{
        background-color: $primary;

    }

}