.location{
    padding-top: 96px;
    padding-bottom: 160px;
    .loca-title{
        @include page-title;
    }
    @include pad{
        padding-top: 60px;
        padding-bottom: 96px;
    }
    @include mobile{
        padding-top:28px;
        padding-bottom: 56px;
    }
    
}

.store-selectbox{
    margin-bottom: $mb-9;
    .select{
        font-size: $fz-6;
        margin-right: 20px;
    }
    .selectbar{
        width: 324px;
        height: 45px;
        outline: 0;
        border: 1px solid $frame-color;
        color: $text-color;
        font-size: 18px;
        padding-left: 19px;
        @include pad{
            width: 227px;
        }
    }
    @include pad{
        margin-bottom: $mb-6;
    }
    @include mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@include mobile{
    .select{
        font-size: $fz-s;
        margin-right: 12px;
    }
    .selectbar{
        width: 80%;
        height: 36px;
        font-size: $fz-s;
        padding-left: 16px;
    }

}
.storedata{
    @include pad{
        flex-wrap: wrap;
    }
}
.storedata-item{
    width: 445px;
    border: 1px solid $line-color2;
    .h3loca{
        font-size: $fz-6;
        font-weight: $fw-r;
        padding: 12px 0;
        padding-left: 24px;
        border-bottom: 2px solid $line-color2;
    }
    .store-info{
        padding: 16px 0;
        padding-left: 24px;
        .info-icon{
            width:24px;
            height: 24px;
            margin-right: 8px;
        }
        .icon-map{
            margin-top: 5px;
        }
        
        li{
            margin-bottom: 8px;
        }
       
        a,p{
            font-size: $fz-5;
            color: $text-color2;
        } 
        @include pad{
            a,p{
                font-size: $fz-s;
            } 
            .info-icon{
                widows: 16px;
                height: 16px;
            }
            .icon-map{
                margin-top: 0;
            }
        }  
        @include mobile{
            .info-icon{
                width: 20px;
                height: 20px;
            }
            .icon-map{
                margin-top: 0;
            }
        }
    }
    @include pad{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
        margin-bottom: $mb-8;
        img{
            width: calc(100% / 2 );
            height: 164px;
        }
        .store-card{
            width: calc(100% / 2 - 15px);
            height: 151px;
            border: 1px solid $line-color2;
        }
        .h3loca{
            font-size: $fz-4;
            padding-top: 8px ;
            
        }
    }
    @include mobile{
        width: 100%;
        flex-wrap: wrap;
        img,.store-card{
            width: 100%;
        }
    }   
    
}


.detail{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    transition: .3s ;
    &:hover{
        background-color: $primary;

    }

}
.storemap{
    .map-img{
        width: 635px;
        height: 100%;
        @include pad{
            width:100%;
        }
        @include mobile{
            width: 100%;
        }
    }
    @include pad{
        width: 100%;
        height: 422px;
    }
}
