
.qa{
    padding-top: 96px;
    padding-bottom: 160px;
    @include pad {
        padding-top: 60px;
        padding-bottom: 96px;   
    }
    @include mobile {
        padding-top: 28px;
        padding-bottom: 56px;
    }
}
.h2qa{
    color: #000;
    margin-bottom:$mb-15;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    @include mobile {
        font-size: 28px;
        margin-bottom: $mb-6;
    }
}
.h3qa{
    font-size: $fz-8;
    margin-bottom: $mb-9;
    @include mobile {
        margin-bottom: $mb-6;
        font-size: $fz-5;
        font-weight: $fw-r;
    }
}
.h4qa{
    font-size: $fz-5;
    margin-bottom: $mb-4;
    
    @include mobile {
        margin-bottom: $mb-2;     
    }
}
.qa p{
    margin-bottom: $mb-8;
    padding-left: 95px;
    @include pad {
        padding-left: 59px; 
    }
    @include mobile {
        padding-left: 0px; 
        font-size: 14px;
    }
}