*, *::before, *::after{
    box-sizing: border-box;
  }

 body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    
  }
img{
    max-width:100% ;
    height: auto;
    vertical-align: middle;
  }

  a{
    text-decoration: none;
    color: $secondary;
    transition: all .3s;
  }