.header{
    background-color: #AA0601;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  .logo{
    margin-left: 88px;
  }
  
  .nav a{
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
    padding-right: 64px;
  }
@include mobile{
  .header{
    flex-wrap: wrap;
    padding: 0;
    background-color:#fff;
  }
  .logobox{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    background-color:#AA0601 ;
  }
  .logo{
    margin-left: 0;
    width: 48px;
    padding: 10px 0;
  }
  .nav{
    width: 100%;
    flex-wrap: wrap;
    
  }
  .nav li{
    width: 50%;
    text-align: center;
    margin-bottom: 1px;
  }
  .nav li:nth-child(2n){
    border-left: 1px solid #fff;
  }
  .nav a{
    font-size: 20px;
    padding:8px 0;
    display: block;
    background-color:#AA0601 ;
  }
}


/* 頁尾 */
.footer{
    background-color: #AA0601;
    color: #fff;
    padding: 32px 0 39px;
    
  }
  .menu a{
    color: #fff;
    text-decoration: none;
    margin-right: 48px;
    transition: .3s ease;
   
  }
  .social a{
    margin-left: 32px;
    transition: .3s ease;
  }
  .social a:hover{
    opacity: 0.5;
  }
  .contact-info{
    border-bottom: 1px solid #fff;
  }
  .contact-info img{
    width: 36px;
  }
  .contact-info a{
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    transition: .3s ease;
  }
  .contact-info a:hover,.menu a:hover,.terms a:hover,.nav a:hover{
    color:#650300;
  }
  .copyright p{
    font-family: Roboto ;
  
  }
  .terms a{
    color:#fff;
    text-decoration: none;
    transition: .3s ease;
    margin-left: 48px;
  }

  @include pad{
    .menu a{
      margin-right: 40px; 
    }
    .social a img{
      width: 24px;
    }
    .contact-info img{
      width: 20px;
      height: 20px;
    }
    .contact-info a{
      font-size: 20px;
    }
  }

  @include mobile{
    .linkbar{
      justify-content: flex-end;
      margin-bottom: 0;
    }
    .menu{
      display: none;
    }
    .social a img{
      width: 24px;
    }
    .contact-info{
      margin-top: -24px;
    }
    .contact-info img{
      width: 16px;
      height: 16px;
    }
    .contact-info a{
      font-size: 16px;
    }
    .copyright,.terms{
      flex-wrap: wrap;
    }
    .copyright p{
      width: 100%;
    }
    .terms li{
      width: 100%;
      margin-bottom: 8px;
    }
    .terms a{
      margin-left: 0;
    }
  }
