// 顏色
$primary:#AA0601;
$secondary:#000000;
$line-color:#DCDCDC;
$cube-brown:#5F3E2D;
$cube-orange:#B75929;
$border-color:#555555;
$bg-color:#F2F2F2;
$text-color:#495057;
$text-color2:#212529;
$frame-color:#CED4DA;
$line-color2:#00000020;
$blog-color:#650300;
$article-color:#0A0A0A;
$border-color2:#707070;


// 文字大小
$fz-s:14px;
$fz-4:16px;
$fz-5:20px;
$fz-6:24px;
$fz-8:32px;
$fz-9:36px;
$fz-10:40px;
$fz-12:48px;
$fz-18:72px;

// 粗細
$fw-b:bold;
$fw-r:400;
$fw-9:900;

// 間距
$mb-2:8px;
$mb-4:16px;
$mb-5:20px;
$mb-6:24px;
$mb-8:32px;
$mb-9:36px;
$mb-15:60px;
$mb-18:72px;